:css
  .js-calendar-graph-svg text {
    font-size: 10px;
    fill: #aaa;
  }
  .entry {
    position: relative;
    padding: 0 0 1em 50px;
    border-top: 1px solid #f1f1f1;
  }
  .entry:first-child {
    border-top: 0;
  }
  .entry .body {
    padding: 1em 0 0;
    overflow: hidden;
  }
  .entry .body * {
    font-size: 12px;
  }
  .entry .body svg {
    position: absolute;
    top: 14px;
    left: 22px;
    fill: #555;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .entry .body .title {
    color: #666;
  }
  .entry .body .time {
    color: #bbb;
  }
  .entry .body .details img {
    float: left;
    margin-right: 0.6em;
    border-radius: 3px;
  }
  .entry .body .message blockquote {
    margin: 0 !important;
    border-left: none;
    padding: 0;
    line-height: 1.6;
  }
  .entry .body .details .commits li {
    list-style-type: none;
  }

.jumbotron
  .container
    %h1 Miru
    %p ひげ とか ささいのgistを見るやつ

.container
  .row
    - @members.each do |user|
      .col-lg-4.col-md-6
        .page-header
          %h2.h3
            %img.img-rounded.user-icon{:src => "#{user.icon}", |
                                       :style => 'max-width: 34px; vertical-align: middle;'}
            %p{:style => 'display: inline; vertical-align: middle'}
              = user.username
        .panel.panel-default
          .panel-body
            = user.contributions_calendar
        .github-activity
          - user.public_activity.take(5).each do |feed|
            .entry
              .body
                = feed
